<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jyp.examonline.dao.UserDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findById" resultType="User" parameterType="int">
        <!-- 具体的sql -->
        SELECT
        user_id,
        user_name,
        user_pwd,
        user_status
        FROM
        user
        WHERE
        user_id = #{userid}
    </select>

    <select id="findByPwd" resultType="User">
        SELECT
        user_id,
        user_name,
        user_pwd,
        user_status
        FROM
        user
        WHERE
        user_name = #{username} and user_pwd = #{pwd}
    </select>

</mapper>