<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jyp.examonline.dao.UserDao">
    <insert id="addUser" parameterType="User">
        INSERT INTO USER
        (
        user_name,
        user_pwd,
        user_num,
        user_status,
        user_createdate,
        user_phone,
        user_email
        )
        VALUES
        (
        #{userName},
        #{userPwd},
        #{userNum},
        #{userStatus},
        sysdate(),
        #{userPhone},
        #{userEmail}
        )
    </insert>
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findById" resultType="User" parameterType="int">
        <!-- 具体的sql -->
        SELECT
        *
        FROM
        user
        WHERE
        user_id = #{userId}
    </select>

    <select id="findByPwd" resultType="User">
        SELECT
        *
        FROM
        user
        WHERE
        user_name = #{userName} and user_pwd = #{userPwd}
    </select>

    <select id="findByUserName" resultType="int" parameterType="string">

        SELECT
        COUNT(*)
        FROM
        USER
        WHERE
        user_name = #{userName}

    </select>

</mapper>